In [1]:
import pandas as pd

C:\Users\Lales\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Lales\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\Lales\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

In [56]:
df=pd.read_excel('FFLs.xlsm', converters={'Zip': lambda x: str(x)})
df.drop(['Lattitude','Longitude'],axis=1,inplace=True)

In [57]:
Us_loc = pd.read_csv("US.txt", sep="\t", header=None, converters={1: lambda x: str(x)})[[1,9,10]]
Us_loc.columns=['Zip','Lat','Lang']
Us_loc.head(2)

     Zip      Lat      Lang
0  99553  54.1430 -165.7854
1  99571  55.1858 -162.7211

In [58]:
df1=pd.merge(df,Us_loc,on='Zip')

In [59]:
df1

,FFL,CompanyName,DBA,StreetAddress,City,State,Zip,Ph,Lat,Lang
0,1-04-013-01-3L-14630,"OPTIMUM PARTS COMPANY, INC",OPC,104 RAMAH CIRCLE SOUTH,AGAWAM,MA,01001,4.132732e+09,42.0702,-72.6227
1,1-04-013-01-2G-04049,GUNS & GEAR LLC,NaN,167 ELM ST,AGAWAM,MA,01001,4.137860e+09,42.0702,-72.6227
2,1-04-013-01-2G-04048,GUNS & GEAR LLC,NaN,167 ELM ST,AGAWAM,MA,01001,4.137860e+09,42.0702,-72.6227
3,1-04-013-01-3G-04754,FIREARM PROFESSIONALS LLC,NaN,396 MAIN ST,AGAWAM,MA,01001,4.137869e+09,42.0702,-72.6227
4,1-04-013-01-4F-14871,"HUSAR ARMS, INC",NaN,104 RAMAH CIRCLE SOUTH,AGAWAM,MA,01001,4.132732e+09,42.0702,-72.6227
...,...,...,...,...,...,...,...,...,...,...
50904,9-91-063-09-2J-05344,"WALKER FIREARMS, LLC",WALKER FIREARMS,7617 N FORKER RD,SPOKANE,WA,99217,5.092947e+09,47.7380,-117.2557
50905,9-91-063-09-5C-11024,"STRAIGHTSHOT, LLC",NaN,17312 E SCRIBNER RD,SPOKANE,WA,99217,8.888173e+09,47.7380,-117.2557
50906,9-91-063-09-4J-11832,"MCDOUGALL, STEVEN MICHAEL",SPOKANE CERAKOTE,1716 E HOLYOKE AVE UNIT B,SPOKANE,WA,99217,5.099818e+09,47.7380,-117.2557
50907,9-91-063-09-4F-06305,"BRENTS GUN SHOP, INC",NaN,N 7302 MARKET #3,SPOKANE,WA,99217,5.094667e+09,47.7380,-117.2557
50908,9-91-063-09-3K-37215,"HAMILTON, PAUL L JR",PAULS COLD STEEL,4707 E UPRIVER DR H-102,SPOKANE,WA,99217,5.099997e+09,47.7380,-117.2557

In [60]:
df.to_csv("output_merging.csv",index=False)