In [34]:
#!pip install pgeocode
import pandas as pd
import pgeocode

In [35]:
def lat_maker(x):
    return nomi.query_postal_code(str(x))[9]

    
def long_maker(x):
    return nomi.query_postal_code(str(x))[10] 


def location_maker(path='FFLs.xlsm',column='Zip'):
    nomi=pgeocode.Nominatim('US')
    df=pd.read_excel(path)
    df['Lattitude']=df[column].apply(lat_maker)
    df['Longitude']=df[column].apply(long_maker)
    df.to_csv("output.csv",index=False)
    return df

In [39]:
df=location_maker()
df.head()

,FFL,CompanyName,DBA,StreetAddress,City,State,Zip,Ph,Lattitude,Longitude
0,5-84-059-01-3G-07863,WALMART INC,"WALMART, INC #4734",9400 RALSTON ROAD,ARVADA,CO,80002,7205877558,39.7945,-105.0984
1,5-84-059-01-3H-07828,STORIED FIREARMS INC,NaN,13380 W 58TH AVE,ARVADA,CO,80002,3032575626,39.7945,-105.0984
2,5-84-059-01-4C-08309,COLORADO GUN WRITES LLC,COLORADO GUN WRITES,9848 W 53RD PLACE,ARVADA,CO,80002,3039493151,39.7945,-105.0984
3,5-84-059-01-2G-04930,"NELSON-RUD, JANE L",ASPEN FILLY'S,5573 GRAY STREET,ARVADA,CO,80002,3034341204,39.7945,-105.0984
4,5-84-059-01-2F-04830,COLORADO SPORTING ARMS LLC,COLORADO SPORTING ARMS,5310 WARD ROAD SUITE G-03,ARVADA,CO,80002,3035170762,39.7945,-105.0984

In [37]:
df[df['Lattitude'].isna()]

,FFL,CompanyName,DBA,StreetAddress,City,State,Zip,Ph,Lattitude,Longitude
2633,9-86-021-01-3F-34634,WALMART INC,"WALMART, INC #1381",2555 W APACHE TRAIL,APACHE JUNCTION,AZ,85220,4803803800,NaN,NaN
2634,9-86-021-01-4F-80608,WALMART INC,"WALMART, INC #1218",1741 EAST FLORENCE BLVD,CASA GRANDE,AZ,85222,5204211200,NaN,NaN

In [38]:
df[df['Longitude'].isna()]

,FFL,CompanyName,DBA,StreetAddress,City,State,Zip,Ph,Lattitude,Longitude
2633,9-86-021-01-3F-34634,WALMART INC,"WALMART, INC #1381",2555 W APACHE TRAIL,APACHE JUNCTION,AZ,85220,4803803800,NaN,NaN
2634,9-86-021-01-4F-80608,WALMART INC,"WALMART, INC #1218",1741 EAST FLORENCE BLVD,CASA GRANDE,AZ,85222,5204211200,NaN,NaN

In [ ]:
# Pgeocode couldn't find only 2 zipcode of 85220,85222